.intro-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    width: 100%;
    background-color: #003a50;
    /* background-color: aqua; */
    height: 80vh;

}

.intro-section1 {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: space-around;

}

.intro-section1>h1 {
    font-size: 3.5rem;
}

.intro-section1>p {
    font-size: 1.5rem;
    font-weight: lighter;
}

.book-button {
    color: #003a50;
    border-radius: 20px;
    width: 30%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-weight: 500;
    font-size: 1rem;

}

.intro-section2 {
    object-fit: contain;
    width: 40%;
    height: auto;
    color: white;
}

.intro-section2>img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.benefits {
    display: flex;
    justify-content: space-between;
    /* background-color: #00e3aa; */
}

.benefits>div>text {
    font-weight: bolder;
    color: #00e3aa;
    font-size: 3.5rem;
}

.benefits>div>p {
    margin-top: -3%;
}

@media (max-width:780px) {
    .intro-body {
        flex-direction: column;
        padding: 10%;
        width: 80%;
        height: 100%;
    }

    .intro-section1 {
        width: 100%;
        padding-bottom: 5%;
      
    }

    .intro-section1>h1 {
        font-size: 1.5rem;
    }

    .book-button{
        width: 60%;
    }
    .intro-section2{
        width: 100%;
    }
    .benefits>div>text{
        font-size: 1rem;
    }
}